body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 20px;
    margin-top: 50px;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn {
    color: white;
    background-color: #007bff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.navbar-container a {
    display: inline-block;
    color: #fff; 
    background-color: #007bff; 
    border-radius: 5px; 
    padding: 10px 20px; 
    transition: background-color 0.3s ease; 
    text-decoration: none; 
    margin: 10px;
}

.navbar-container a:hover {
    background-color: #0056b3; 
}
