__pycache__/
.env
.env.*

instance/
*.pyc
*.pyo

.dockerignore

venv/

*.log

.env
.env.local
.env.*.local

*.bak
*.swp
*~

.cache/

pytest_cache/
*.pytest_cache/
*.pyc

.DS_Store
Thumbs.db

dist/
build/

*.egg-info/

.vscode

pykers-env/
pykers-env/*